<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="{{ url_for('static', filename='js/navigation_menu.js') }}"></script>
	{% block script %}
	{% endblock %}
	<title>Per-Emil ♥ Maja</title>
</head>

<body>

	<div class="flex-decenter" style="flex-direction:column;height:100vh">
		{% include "templates/menu.html" %}
		<article style="flex-grow:2">
			<img 
			style="transform:scale(-1);margin-top:2.5em"
		 	src="{{ url_for('static', filename ='img/small_flower.png') }}"
			alt="Blomranka"
			height=80>

			<div class="header">
				<h1>{% block pagename %}Namnlös sida{% endblock %}</h1>
			</div>
			<div style="z-index:1">
				{% block content %}
				<p class="text" style="text-align:center">
					Den som väntar på något gott... Innehåll kommer!
				</p>
				{% endblock %}
			</div>
		</article>

		{% include "templates/footer.html" %}
	</div>

</body>

</html>
