<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="{{ url_for('static', filename='js/navigation_menu.js') }}"></script>
	{% block script %}
	{% endblock %}
	<title>Per-Emil ♥ Maja</title>
</head>

<body>

	{% include "templates/menu.html" %}
	{% include "templates/header.html" %}

	<article>
		<div><h1>{% block pagename %}Denna sida har inget namn än{% endblock %}</h1></div>
	{% block content %}
	<p style="text-align:center">Den som väntar på något gott... Innehåll kommer!</p>
	{% endblock %}
	</article>

	{% include "templates/footer.html" %}

</body>

</html>
