:root {
    --margin: 3em;
    --max-article-width: 50em; /* Doesn't work */
	--color-top:royalblue;
	--color-background:cornflowerblue;
	--color-bottom:#74A5FD;
	--color-side:royalblue;
}
body {
	background-color: var(--color-background);
}

h1#names {
	font-style: italic;
  	font-size: 30px;
}

.header {
	padding: 10px;
	text-align: center;
	background: var(--color-top);
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--color-bottom);
	text-align: right;
}

article {
	max-width: var(--max-article-width);
	align: right;
}

.hidden-url:link {
	text-decoration: none;
	text-color: black;
}
