 /* TODO: Replace all px with em */

:root {
    --margin: 3em;
	/* Colors */
	--color-top:thistle;
	--color-background:lavender;
	--color-bottom:thistle;
	--color-side:royalblue;
	--color-text:darkslategray;
	--color-menu-text:pink;
	--color-menu-background:darkgray;
	--color-menu-background-marked:gray;
	--color-headlines:maroon;
}

/* GENERAL */ 

body {
	background-color: var(--color-background);
	padding: 0em;
	margin: 0em;
}

article {
	margin: auto;
	width: 70%;
	padding: 10px;
}

img {
	border-radius: 2%;
	border: 3px solid var(--color-top);
	margin:1em;
}

h1#names {
	color: black;
	font-style: italic;
  	font-size: 2em;
}

h1 {
	color: var(--color-headlines);
	text-align: center;
}

h2 {
	margin: 0;
	padding: 0.5em;
	word-spacing: 65vw;
	color: var(--color-menu-text);
	font-size: 1.5em;
}
 
p {
	color: var(--color-text);
}

.header {
	margin-top: 3.5em;
	padding: 10px;
	text-align: center;
	background: var(--color-top);
}

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--color-bottom);
	text-align: center;
}

.flex-container {
	flex-direction: column;
}

.hidden-url:link {
	text-decoration: none;
	color: var(--color-text);
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: var(--color-menu-background);
}

.dropdown-menu {
	visibility: hidden;
	display: none;
	width: 100vw;
	background-color: var(--color-menu-background);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-menu.show {
	visibility: visible;
	display: block;
}

.dropdown-menu a {
	float: none;
	color: var(--color-menu-text);
	padding: 12px 16px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	display: block;
}

.dropdown-menu a:hover {
	background-color: var(--color-menu-background-marked);
}

