 /* TODO: Replace all px with em */

:root {
    --margin: 3em;
	/* Colors */
	/*
	 * #f0cdbe light pink
	 * #f5dbd3 middle pink
	 * #bbc173 warm pink
	 * #783347 dark pink
	 * #bbc173 light green
	 */
	--color-background:#f5dbd3;
	--color-background-light:#f9f7f1;
	--color-menu-background-marked:#bbc173;
	--color-menu-background:#c5cc7f;
 	--color-names:#dce1a1;
	--color-text:darkslategray;
	--color-text-menu-marked:#783347;
	--color-text-menu:#a64263;
	--color-headlines:#783347;
}

/* GENERAL */

body {
	background-color: var(--color-background);
	padding: 0em;
	margin: 0em;
}

article {
	background-color: var(--color-background-light);
	margin: auto;
	width: 80vw;
	padding: 10px;
}

img {
	border-radius: 2%;
	border: 3px solid var(--color-menu-background);
	margin: 1em;
}

h1#names {
	color: var(--color-headlines);
	font-style: italic;
  	font-size: 2em;
}

h1 {
	color: var(--color-text-menu);
	text-align: center;
}

h2 {
	margin: 0;
	padding: 0.5em;
	word-spacing: 65vw;
	color: var(--color-text-menu);
	font-size: 1.5em;
}

p {
	color: var(--color-text);
}

.header {
	margin: 1em;
	margin-top: 3.5em;
	padding: 10px;
	text-align: center;
	background: var(--color-names);
	border-radius: 2%;
	border: 3px solid var(--color-menu-background);
}

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--color-menu-background);
	text-align: center;
	padding: 0.5em;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.flex-decenter {
	display: flex;
	justify-content: space-between;
}

.hidden-url:link {
	text-decoration: none;
	color: var(--color-text);
}

.hidden-url:visited {
	color: var(--color-text-menu);
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: var(--color-menu-background);
}

.dropdown-menu {
	visibility: hidden;
	display: none;
	width: 100vw;
	background-color: var(--color-menu-background);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-menu.show {
	visibility: visible;
	display: block;
}

.dropdown-menu a {
	float: none;
	color: var(--color-text-menu);
	padding: 12px 16px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	display: block;
}

.dropdown-menu a:hover {
	background-color: var(--color-menu-background-marked);
	color: var(--color-text-menu-marked);
}

