 /* TODO: Replace all px with em */

:root {
    --margin: 3em;
	/* Colors */
    --color-background: #d6dc90;
	--color-background-light: #f9f7f1;
	--color-menu-background-marked: #99485f;
	--color-menu-background: #7f3e4f;
	--color-text: #4f5529;
	--color-text-menu-marked: #fef2ea;
	--color-text-menu: #f6d3c3;
	--color-military-green: #868c46;
}

/* GENERAL */

body {
	background-color: var(--color-background);
	padding: 0em;
	margin: 0em;
	overflow-x: hidden;
}

article {
	background-color: var(--color-background-light);
	margin: auto;
	width: 90vw;
	padding: 10px;
	box-shadow: 1px 1px 40px -20px var(--color-military-green);
}

div#content {
	width: 80%;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
}

img.border {
	border-radius: 2%;
	border: 3px solid var(--color-menu-background);
	margin: 1em;
}

img.welcome {
	height: 60vh;
}

img.center {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

img.flip-horizontally {
	transform: scaleX(-1);
}

img.flip-vertically {
	transform: scaleY(-1);
}

h1 {
	color: var(--color-menu-background);
	font-size: 2em;
	text-align: center;
}

h1.small {
	font-size: 1.5em;
	text-align: left;
}

.bold {
	font-weight: bold;
}

span.inline {
	color: var(--color-menu-background);
	font-weight: bold;
}

span.inline_header {
	color: var(--color-menu-background);
	font-size: 1.2em;
	font-weight: bold;
}

h2 {
	margin: 1em;
	margin-top:0;
	margin-bottom:0;
	padding: 0.5em;
	color: var(--color-text-menu);
	font-size: 1.5em;
	font-style:italic;
}

p {
	color: var(--color-text);
}

p.error {
	color: var(--color-menu-background);
	font-style: italic;
	margin-top: 0.5em;
	margin-bottom: 0;
	display: none;
}

p.ingress {
 	text-align: center;
 	margin-bottom: 3em;
}

p#anmalan_status {
	margin-bottom: 1em;
}

.header {
	margin: 0;
	margin-top: -4.5em;
	text-align: left;
}

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--color-menu-background);
	text-align: center;
	padding: 0.5em;
}

.footer p {
	color: var(--color-text-menu);
}

.post {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
}

div.post_content {
	margin-left: 1em;
	flex-grow: 2;
	order: 2;
}

.post p.text {
	text-align: left;
}

img.post {
	width: 230px;
	height: 230px;
	object-fit: cover;
	order: 1;
}

img.post.web {
	display: block;
}

img.post.mobile {
	display: none;
}

div#signup_form {
	width: 80%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: left;
}

button {
	background-color: var(--color-menu-background-marked);
	color: var(--color-text-menu-marked);
	font-size: large;
	font-style: italic;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 2em;
	padding-left: 2em;
	width: -moz-min-content;
}

div.signup_entry {
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
}

label {
	color: var(--color-text);
	font-size: large;
	margin-bottom: 0.3em;
}

input[type=text] {
  	display: inline-block;
  	border: 1px solid var(--color-text-menu-marked);
  	border-bottom: 2px solid var(--color-text-menu);
  	box-sizing: border-box;
	color: var(--color-text);
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.2em;
}

input[type=text]:hover, input[type=text]:focus {
  	border-bottom: 2px solid var(--color-menu-background-marked);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-military-green);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--color-military-green);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--color-military-green);
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.center.text {
	text-align: center;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.flex-container.nowrap {
	flex-wrap: nowrap;
}

.flex-decenter {
	display: flex;
	flex-direction: row;
	flex-wrap: none;
	justify-content: space-between;
	align-items: center;
	margin:0;
}

.flex-decenter.column {
	flex-direction: column;
}

a.normal {
	font-style: italic;
}

a.normal:link {
	color: var(--color-menu-background);
}
a.normal:visited {
	color: var(--color-text);
}
a.normal:hover {
	color: var(--color-menu-background-marked);
}

.hidden-url {
	font-style: italic;
	color: var(--color-text-menu);
}

.hidden-url:link {
	text-decoration: none;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--color-menu-background);
	z-index: 3;
}

.dropdown-menu {
	visibility: hidden;
	display: none;
	width: 100%;
	background-color: var(--color-menu-background);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
}

.dropdown-menu.show {
	visibility: visible;
	display: block;
}

.dropdown-menu a {
	float: none;
	color: var(--color-text-menu);
	padding: 12px 16px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	display: block;
}

.dropdown-menu a:hover {
	background-color: var(--color-menu-background-marked);
	color: var(--color-text-menu-marked);
}

#countdown {
	font-style: italic;
}

table {
	table-layout: auto;
	width: 100%;
	border-collapse: collapse;
}

th {
	text-align: left;
	vertical-align: middle;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: var(--color-menu-background);
	color: var(--color-text-menu);
}

td {
	vertical-align: middle;
}

td.bool, th.bool {
	text-align: center;
}

tr:nth-child(even) {background-color: var(--color-text-menu);}

tr:hover {
	background-color: var(--color-menu-background-marked);
}

@media only screen and (max-width: 600px) {
	article {
		width: 80vw;
		box-shadow: 1px 1px 30px -10px var(--color-military-green);
	}

	.header {
		margin-top: -2.5em;
		margin-left: 0;
	}

	div#content {
		width: 90%;
	}

	img.welcome {
		height: 50vh;
	}

	.post {
		flex-wrap: wrap;
	}

	h1.small {
		text-align: center;
	}

	div.post_content {
		margin-left: 1em;
		flex-grow: 2;
		order: 1;
	}

	img.post {
		width: 180px;
		height: 180px;
		object-fit: cover;
		order: 2;
	}

	img.post.web {
		display: none;
	}

	img.post.mobile {
		display: block;
	}

	.ingress {
		margin-bottom: 1.5em;
	}

	#countdown_header {
		margin-bottom: 0;
	}

	#countdown {
		font-size: 1.5em;
		margin-top: 0.5em;
	}

	#menu_names {
		font-size: 1em;
	}
}
