{% extends "templates/page.html" %}

{% block script %}
	<script src="{{ url_for('static', filename='js/password.js') }}"></script>
{% endblock %}

{% block pagename %}Alla anmälda{% endblock %}

{% block content %}
<div id="unsecret" >
	<p style="text-align:center">Detta är hemligt... Skriv in lösenordet!</p>
</div>
<div id="secretlist" style="display:none">
	<p>Detta är alla som hittills är anmälda!</p>
	<p id="people_list"></p>

	<table id="people">
		<tr>
    		<th>#</th>
    		<th>Anmäld</th>
    		<th>Namn</th>
			<th>E-post</th>
			<th class="bool">Gluten</th>
			<th class="bool">Laktos</th>
			<th class="bool">Vegetarian</th>
			<th class="bool">Vegan</th>
			<th class="bool">Andra allergier</th>
			<th>Övrigt</th>
	  	</tr>
		{% for entry in data %}
		  <tr>
			  <td>{{entry.number}}</td>
			  <td>{{entry.person.time}}</td>
			  <td>{{entry.person.name}}</td>
			  <td>{{entry.person.email}}</td>
			  <td class="bool">{{entry.person.gluten}}</td>
			  <td class="bool">{{entry.person.laktos}}</td>
			  <td class="bool">{{entry.person.vegetarian}}</td>
			  <td class="bool">{{entry.person.vegan}}</td>
			  <td class="bool">{{entry.person.other_allergy}}</td>
			  <td>{{entry.person.info}}</td>
		  </tr>
		{% endfor %}
	</table>


</div>
{% endblock %}
