<!-- TODO: Shorten headlines, is this safe to show? Move to server w/ 2 pages. --!>
{% extends "templates/page.html" %}

{% block script %}
	<script src="{{ url_for('static', filename='js/show_anmalda.js') }}"></script>
{% endblock %}

{% block pagename %}Alla anmälda{% endblock %}

{% block content %}
<div id="unsecret" >
	<p class="ingress">Detta är hemligt... Skriv in lösenordet!</p>
</div>
<div id="secretlist" style="display:none">
	<p class="ingress">Detta är alla som hittills är anmälda!</p>
	<p id="people_list"></p>

	<table id="people">
		<tr>
    		<th class="center">##</th>
    		<th>Anmäld</th>
    		<th>Namn</th>
			<th>E-post</th>
			<th class="center">G</th>
			<th class="center">L</th>
			<th class="center">Vt</th>
			<th class="center">Vn</th>
			<th class="center">Andra allergier</th>
			<th>Övrigt</th>
			<th>Ta bort</th>
	  	</tr>
		{% for entry in data %}
		  <tr>
			  <td class="center">{{entry.number}}</td>
			  <td class="center">{{entry.person.time}}</td>
			  <td class="people_name">{{entry.person.name}}</td>
			  <td>{{entry.person.email}}</td>
			  <td class="center bool g">{{entry.person.gluten}}</td>
			  <td class="center bool l">{{entry.person.laktos}}</td>
			  <td class="center bool vt">{{entry.person.vegetarian}}</td>
			  <td class="center bool vg">{{entry.person.vegan}}</td>
			  <td>{{entry.person.other_allergy}}</td>
			  <td>{{entry.person.info}}</td>
			  <td class="center people_remove">
				  <input type="checkbox" autocomplete="off"></td>
		  </tr>
		{% endfor %}
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th style="text-align:right">Allergier:</th>
			<th class="center" id="total_g">0</th>
			<th class="center" id="total_l">0</th>
			<th class="center" id="total_vt">0</th>
			<th class="center" id="total_vg">0</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</table>

	<div class="horizontal_buttons">
		<button id="download">Ladda ner</button>
		<button id="remove">Ta bort valda</button>
	</div>

</div>
{% endblock %}
