{% extends "templates/page.html" %}

{% block script %}
	<script src="{{ url_for('static', filename='js/password.js') }}"></script>
{% endblock %}

{% block pagename %}Alla anmälda{% endblock %}

{% block content %}
<div id="unsecret" >
	<p class="ingress">Detta är hemligt... Skriv in lösenordet!</p>
</div>
<div id="secretlist" style="display:none">
	<p class="ingress">Detta är alla som hittills är anmälda!</p>
	<p id="people_list"></p>

	<table id="people">
		<tr>
    		<th class="center">##</th>
    		<th>Anmäld</th>
    		<th>Namn</th>
			<th>E-post</th>
			<th class="center">Gluten</th>
			<th class="center">Laktos</th>
			<th class="center">Vegetarian</th>
			<th class="center">Vegan</th>
			<th class="center">Andra allergier</th>
			<th>Övrigt</th>
			<th>Ta bort</th>
	  	</tr>
		{% for entry in data %}
		  <tr>
			  <td class="center">{{entry.number}}</td>
			  <td class="center">{{entry.person.time}}</td>
			  <td class="people_name">{{entry.person.name}}</td>
			  <td>{{entry.person.email}}</td>
			  <td class="center">{{entry.person.gluten}}</td>
			  <td class="center">{{entry.person.laktos}}</td>
			  <td class="center">{{entry.person.vegetarian}}</td>
			  <td class="center">{{entry.person.vegan}}</td>
			  <td>{{entry.person.other_allergy}}</td>
			  <td>{{entry.person.info}}</td>
			  <td class="center people_remove"><input type="checkbox" id="gluten"></td>
		  </tr>
		{% endfor %}
	</table>

  	<button class="center" id="remove">Ta bort valda</button>

</div>
{% endblock %}
