{% extends "templates/page.html" %}

{% block pagename %}Boende{% endblock %}

{% block content %}

<p class="text ingress">
Har du/ni långt att åka och letar efter ett ställe att övernatta på i samband med
bröllopet? Här kommer några förslag på boende!
</p>

<div class="post">
	<img class="border"
		 src="{{ url_for('static', filename ='img/boende_hlm_gard.jpg') }}"
		 alt="Hässleholmsgårdens vandrarhem">
	<div class="post_content">
		<h1 class="small">Hässleholmsgårdens vandrarhem</h1>
		<p class="text">
		Närmre festligheterna går det knappast komma! 
		</p>
		<a class="normal" href="http://www.hassleholmsgardensvandrarhem.se/">
			Mer information om boendet här</a>
	</div>
</div>

<div class="post">
	<img class="border"
		 src="{{ url_for('static', filename ='img/boende_hlm_statt.jpg') }}"
		 alt="Hotell Statt">
	<div class="post_content">
		<h1 class="small">Hotell Statt</h1>
		<p class="text">
		Närmre stationen går det knappast komma! 
		</p>
		<a class="normal" href="https://statt.se/">
			Mer information om boendet här</a>
	</div>
</div>

<div class="post">
	<img class="border"
		 src="{{ url_for('static', filename ='img/boende_hva_hotell.jpg') }}"
		 alt="Hotell Vita Hästen">
	<div class="post_content">
		<h1 class="small">Hotell Vita Hästen</h1>
		<p class="text">
		Närmre brudgummens föräldrahem går det knappast komma! 
		</p>
		<a class="normal" href="http://www.vita-hasten.com/">
			Mer information om boendet här</a>
	</div>
</div>

{% endblock %}


