{% extends "templates/page.html" %}

{% block script %}
	<script src="{{ url_for('static', filename='js/countdown.js') }}"></script>
{% endblock %}

{% block pagename %}Välkomna!{% endblock %}

{% block content %}
<div class="post">
	<img class="border welcome"
		 src="{{ url_for('static', filename ='img/majaochperemil.jpg') }}"
		 alt="Maja och Per-Emils förlovningsbild">
	<div class="post_content">
		<p class="text">
			Vad roligt att just du hittat hit. Vi hoppas att du har möjlighet
			att vara med och förgylla vår dag! Här på hemsidan kommer du att
			hitta massor av information, anmälan och vår önskelista. 
		</p>
	</div>
</div>

<div class="center" id="counter">
	<h1 id="countdown_header">Bröllop om</h1>
	<h1 id="countdown"></h1>
</div>

{% endblock %}
