{% extends "templates/page.html" %}

{% block script %}
	<script src="{{ url_for('static', filename='js/countdown.js') }}"></script>
{% endblock %}

{% block pagename %}Välkomna!{% endblock %}

{% block content %}
	<div class="flex-container">
		<div>
			<img src="{{ url_for('static', filename ='img/majaochperemil.jpg') }}"
			alt="Maja och Per-Emils förlovningsbild"
			height=300>
		</div>
		<div style="min-width:30%">
			<p>Vad roligt att just du hittat hit.
			Här kommer all information du behöver att finnas.
			Hurra!</p>
		</div>
	</div>
		<div>
		<h1>Bröllop om</h1>
		<h1 style="font-style:italic" id="countdown"></h1>
		</div>
{% endblock %}
