<!-- TODO: Shorten headlines, is this safe to show? Move to server w/ 2 pages. --!>
{% extends "templates/page.html" %}

{% block script %}
	<script>var PAGE_TYPE = "admin_wishlist";</script>
	<script src="{{ url_for('static', filename='js/interact_with_server.js') }}"></script>
{% endblock %}

{% block pagename %}Ändra önskelistan{% endblock %}

{% block content %}
<div id="unsecret" >
	<p class="ingress">Detta är hemligt... Skriv in lösenordet!</p>
</div>
<div id="secretlist" style="display:none">
	<p class="ingress">Så här ser önskelistan ut just nu!</p>
	<p id="people_list"></p>

	<!-- Visa/dölj antal --!>
	<table id="wishlist">
		<tr>
			<th class="center">Önskat oss</th>
			<th class="center">Kvar att köpa</th>
			<th>Sak</th>
			<th>Beskrivning</th>
			<th class="center">Ta bort</th>
	  	</tr>
		{% for entry in data %}
		  <tr>
			  <td class="center">{{entry.wish.wished}}</td>
			  <td class="center">{{entry.wish.left_to_buy}}</td>
			  <td class="remove_name">{{entry.wish.name}}</td>
			  <td>{{entry.wish.description}}</td>
			  <td class="center remove_checkbox">
				  <input type="checkbox" autocomplete="off"></td>
		  </tr>
		{% endfor %}
	</table>

	<table id="add">
		<tr>
			<th></th>
			<th class="add_wished">
				<input type="text" class="center" autocomplete="off"  placeholder="#*" size=2></th>
			<th class="add_name">
				<input type="text" class="center" autocomplete="off" placeholder="Grej*"></th>
			<th class="add_cathegory">
				<input type="text" class="center" autocomplete="off" placeholder="Kategori*"></th>
			<th class="add_description">
				<input type="text" class="center" autocomplete="off" placeholder="Beskrivning"></th>
			<th class="add_url">
				<input type="text" class="center" autocomplete="off" placeholder="URL"></th>
			<th></th>
		</tr>
	</table>


	<div class="right">
		<p class="error" id="modify_error"></p>
		<button id="add_item">Lägg till sak</button></td>
		<div class="horizontal_buttons">
			<input type="text" id="new_cat" autocomplete="off" placeholder="Ny kategori*"></th>
			<button id="add_cat">Lägg till kategori</button>
			<button id="remove">Ta bort valda</button>
		</div>
	</div>

</div>
{% endblock %}
