<!-- TODO: Shorten headlines, is this safe to show? Move to server w/ 2 pages. --!>
{% extends "templates/page.html" %}

{% block script %}
	<script>var PAGE_TYPE = "admin_wishlist";</script>
	<script src="{{ url_for('static', filename='js/interact_with_server.js') }}"></script>
{% endblock %}

{% block pagename %}Ändra önskelistan{% endblock %}

{% block content %}
<div id="unsecret" >
	<p class="ingress">Detta är hemligt... Skriv in lösenordet!</p>
</div>
<div id="secretlist" style="display:none">
	<p class="ingress">Så här ser önskelistan ut just nu!</p>
	<p id="people_list"></p>

	<!-- Visa/dölj antal --!>
	{% for cat, wishes in data.items() %}
		<h1 class="small">{{cat}}</h1>
		<table class="wishlist">
			<tr>
				<th class="center">Önskat oss</th>
				<th class="center">Kvar att köpa</th>
				<th>Sak</th>
				<th>Beskrivning</th>
				<th class="center">Ta bort</th>
			</tr>
			{% for wish in wishes %}
				<tr>
					<td class="center">{{wish.wished}}</td>
					<td class="center">{{wish.left_to_buy}}</td>
					{% if wish.url|length > 0 %}
						<td class="remove_name">
						<a class="normal" href="{{wish.url}}">{{wish.name}}</a></td>
					{% else %}
						<td class="remove_name">{{wish.name}}</td>
					{% endif %}
					<td>{{wish.description}}</td>
					<td class="center remove_checkbox">
						<input type="checkbox" autocomplete="off"></td>
				</tr>
			{% endfor %}
		</table>
	{% endfor %}

	<div class="right">
		<p class="error" id="modify_error"></p>
		<button id="remove" {% if data|length == 0 %}style="display:none" {% endif %} >
		Ta bort valda</button>
	</div>

	<h1 class="small">Lägg till</h1>

	<table>
		<tr>
			<th></th>
			<th><input type="text" id="new_cat" autocomplete="off" placeholder="Ny kategori*"></th>
			<th></th>
		</tr>
	</table>

	<div class="right">
		<button id="add_cat">Lägg till kategori</button>
	</div>
	<br>
	<table id="add">
		<tr>
			<th></th>
			<th class="add_wished">
				<input type="text" class="center" autocomplete="off"  placeholder="#*" size=2></th>
			<th class="add_name">
				<input type="text" class="center" autocomplete="off" placeholder="Grej*"></th>
			<th class="add_cathegory">
				<select>
				{% for cat in data %}
					<option value="{{cat}}">{{cat}}</option>
				{% endfor %}
				</select>
			<th class="add_description">
				<input type="text" class="center" autocomplete="off" placeholder="Beskrivning"></th>
			<th class="add_url">
				<input type="text" class="center" autocomplete="off" placeholder="URL"></th>
			<th></th>
		</tr>
	</table>


	<div class="right">
		<button id="add_item">Lägg till sak</button>
	</div>

</div>
{% endblock %}
