<!-- TODO: Shorten headlines, is this safe to show? Move to server w/ 2 pages. --!>
{% extends "templates/page.html" %}

{% block script %}
	<script>var PAGE_TYPE = "admin_wishlist";</script>
	<script src="{{ url_for('static', filename='js/interact_with_server.js') }}"></script>
{% endblock %}

{% block pagename %}Ändra önskelistan{% endblock %}

{% block content %}
<div id="unsecret" >
	<p class="ingress">Detta är hemligt... Skriv in lösenordet!</p>
</div>
<div id="secretlist" style="display:none">
	<p class="ingress">Så här ser önskelistan ut just nu!</p>
	<p id="people_list"></p>

	<!-- Visa/dölj antal --!>
	<table id="wishlist">
		<tr>
			<th class="center">##</th>
			<th>Sak</th>
			<th class="center">Önskat oss</th>
			<th class="center">Kvar att köpa</th>
			<th class="center">Ta bort</th>
	  	</tr>
		{% for entry in data %}
		  <tr>
			  <td class="center">{{entry.number}}</td>
			  <td class="remove_name">{{entry.wish.name}}</td>
			  <td class="center">{{entry.wish.wished}}</td>
			  <td class="center">{{entry.wish.left_to_buy}}</td>
			  <td class="center remove_checkbox">
				  <input type="checkbox" autocomplete="off"></td>
		  </tr>
		{% endfor %}
		<tr>
			<th></th>
			<th class="add_name">
				<input type="text" class="center" autocomplete="off"></th>
			<th class="add_wished">
				<input type="text" class="center" autocomplete="off" size=2></th>
			<th></th>
			<td class="center wishlist_">
				<button id="add">Lägg till</td>
		</tr>
	</table>

	<div class="right">
		<p class="error" id="modify_error"></p>
		<button id="remove">Ta bort valda</button>
	</div>

</div>
{% endblock %}
