{% extends "templates/page.html" %}

{% block pagename %}Viktig information{% endblock %}


{% block content %}

<p>
	<span class="inline_header">Vi gifter oss</span>
	i Östra Broby kyrka lördagen den 1 augusti 2020 kl. 13:00.  Därefter kommer vi
	att ha en fest på Hässleholmsgården i Hässleholm för inbjudna.  Mellan
	Broby och Hässleholm tar det en knapp halvtimme att köra med bil.  På denna
	karta är de båda platserna utmärkta: 
	<a class="normal" href="https://www.google.com/maps/dir/Broby+kyrka,+Kyrkogatan+6,+289+92+Broby/H%C3%A4ssleholmsg%C3%A5rden,+Hovdalav%C3%A4gen,+H%C3%A4ssleholm/@56.2018797,13.773779,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x4656ad01cf06fe31:0x6217c2528a902e7d!2m2!1d14.0795404!2d56.2546896!1m5!1m1!1s0x4653fd779e378899:0xc784b277cca9eb8b!2m2!1d13.7471933!2d56.1523132!3e0">Vägbeskrivning</a>
</p>

<p>
	<span class="inline_header">Angående Corona/Covid-19</span>
	<!--
	Vi förstår att den rådande situationen i världen väcker oro inför sommaren och
	hur det kommer att se ut då. Utifrån experternas uttalanden tror, hoppas och
	ber vi för att läget ska ha förbättrats tillräckligt för att vi ska kunna ha
	vigseln med efterföljande fest som planerat. Om något skulle ändras kring
	detta kommer vi uppdatera det här på hemsidan. Vi har dock valt att flytta
	fram sista anmälningsdag till den 1:a juli, för att underlätta ert beslut.
</p>
	--!>
	Vigseln räknas som offentlig och vi kommer därför begränsa antalet
	närvarande i kyrkan under vigseln till 50 personer enligt restriktionerna.
	Detta innebär att endast släkt och de närmsta vännerna kan vara med i
	kyrkan. Men för att göra det möjligt för så många som möjligt av våra
	vänner att vara med och fira dagen med oss har vi valt att även hyra
	församlingshemmet i Broby och livesända vigseln dit.
</p>
<p>
	Vi kommer fira nattvard tillsammans under vigseln och för de som är i
	församlingshemmet kommer det finnas möjlighet att komma till kyrkan och få ta
	emot nattvarden på kyrktrappan. Under tiden sjungs det lovsång i kyrkan. Vi
	kommer att ta emot bröd men inte vin på grund av smittskyddsskäl.
</p>
<p>
	När vigseln är slut har alla möjlighet att välkomna oss ut från kyrkan och
	gratulera oss. (50-gränsen gäller inte då vigseln är slut och vi är utomhus.)
	Där är gott om plats och vi uppskattar om ni håller avstånd till varandra så
	att alla kan känna sig bekväma. Vi förstår om inte alla vill gratulera oss på
	det vanliga sättet med en kram men du som vill får gärna göra det.
</p>
<p>
	Bröllopsfesten räknas som privat tillställning och då gäller inte restriktionen
	kring högst 50 personer och vi väljer därför att genomföra festen tillsammans
	med alla de gäster som vill närvara. I skrivande stund vet vi inte hur många vi
	kommer att bli eftersom alla ännu inte lämnat besked men vi räknar med att vi
	blir mellan 60 och 95 personer. Vi kommer att placera gästerna lite luftigare
	men det kommer inte att bli två meter mellan stolarna. De äldre gäster som
	väljer att komma får sitta vid separata bord. Vi kommer att möblera för att
	underlätta för alla att hålla avstånd till varandra vid förflyttning i lokalen.
</p>
<p>
	Tillåter vädret finns det möjlighet att ha flera dörrar öppna för att öka
	ventilationen i lokalen och vi har även tillgång till utomhusytor i anslutning
	till festlokalen.
</p>
<p>
	För att undvika trängsel i matkön kommer för-, huvud- och efterrätt att
	serveras vid borden. Tårtan kommer man att få ta själv. Det kommer att finnas
	goda möjligheter i lokalen att både tvätta händerna och använda handsprit.
</p>
<p>
	Är man sjuk uppmanar vi till att följa folkhälsomyndighetens råd och stanna
	hemma för att inte riskera att smitta andra.
</p>
<p>
	Vi har försökt att tänka igenom dagen så att vi kan genomföra den på bästa och
	säkraste sätt för att ge alla möjligheten att uppleva dagen tillsammans med
	oss. Vi hoppas att ni har samma önskan och trots rådande situation vill vara
	med och fira denna dag med oss.
</p>

<p>
	<span class="inline_header">Klädkoden är mörk kostym.</span>
	Mörk kostym är den mest formella klädkoden innan smoking eller frack. För
	män innebär klädkoden mörk kostym, där det vanligaste är marinblå, mörkgrå
	eller svart. Till detta bärs enfärgad skjorta och slips eller fluga. Både
	slipsen och flugan knyter man själv. För kvinnor innebär klädkoden att man
	bär en finare klänning, kjol eller en byxdress. Klänningen eller kjolen kan
	vara knälång eller vadlång. En enklare långklänning fungerar också. Kvinnor
	ska ej bära vitt eller svart.
</p>

<p>
	<span class="inline_header">Om du vill hålla tal</span>
	eller liknande (vilket såklart skulle vara otroligt uppskattat), 
	ber vi dig kontakta någon av våra värdar. Mer information om detta under fliken 
	<a class="normal" href="/vardar">Värdar</a>.
</p>

<p>
	<span class="inline_header">Kom ihåg att anmäla dig!</span>
	Om du har fått en inbjudan till festen, se till att anmäla dig innan 1 juli.
	Formulär och mer information om detta hittar du på
	<a class="normal" href="/anmalan">anmälningssidan</a>.
</p>

<p>
	<span class="inline_header">Ta med barnen?</span>
	Spädbarn är välkomna, men större barn har det nog roligare hemma med sin barnvakt.
</p>

<p>
	<span class="inline_header">Hemsidan</span>
	är skapad av
	<a href= "https://github.com/reggosaurus-reg" class="normal"
		style="display:inline">Regina Hansson</a>. 
	Vid problem mejla <span class="bold">regina96.jl@hotmail.com.</span>
</p>

<p>
	<span class="inline_header">Övriga frågor?</span>
	Mejla dem till värdarna på <span class="bold">majaperemil@hotmail.com</span>.
</p>

<img class="center" alt="Blomma" height=80
	src="{{ url_for('static', filename ='img/small_flower_free.png') }}">

{% endblock %}
