{% extends "templates/page.html" %}

{% block pagename %}Viktig information{% endblock %}


{% block content %}

<p>
<h3>Vi gifter oss</h3>
i Broby kyrka lördagen den 1 augusti 2020 kl. 13:00. 
Därefter kommer vi att ha en fest på Hässleholmsgården i Hässleholm för inbjudna. 
Mellan Broby och Hässleholm tar det en knapp halvtimme att köra med bil.
På denna karta är de båda platserna utmärkta: Vägbeskrivning
</p>

<p>
<h3>Klädkoden är mörk kostym.</h3>
Klädkoden mörk kostym för män innebär precis som det låter att man har en mörk kostym. 
För kvinnor innebär klädkoden att man bär klänning, kjol eller en byxdress. 
Klänningen eller kjolen kan vara knälång eller vadlång. 
En enklare långklänning fungerar också. Kvinnor ska ej bära vitt eller svart.
</p>

<p>
<h3>Om du vill hålla tal</h3>
eller liknande (vilket såklart skulle vara otroligt uppskattat), 
ber vi dig kontakta någon av våra värdar. Mer info om detta under Värdar.
</p>

<p>
<h3>Glöm inte anmäla dig!</h3>
Om du har fått en inbjudan till festen, se till att anmäla dig! 
Formulär och information om detta finns på anmälningssidan.
</p>

{% endblock %}
